---
import {personalStuff} from "../../data/exportContent";
import BaseLayout from "../layouts/BaseLayout.astro";
import {EtypeContent} from "../../data/MyStuffTableMapping";
---

<BaseLayout>
    <my-stuff data-personalStuff={JSON.stringify(personalStuff)}>
        <aside>
            {
                Object.keys(EtypeContent)
                    .filter((key) => isNaN(Number(key)))
                    .map((e) => <a class="SuperCat">{e}</a>)
            }
        </aside>
        <aside>
            <div id="root"></div>
        </aside>
    </my-stuff>
</BaseLayout>

<style>
    .SuperCat {
        padding: 5px;
    }

    :hover .SuperCat {
        cursor: pointer;
    }
</style>

<script>
    import type {cosplayType} from "../../data/personalList/cosplays";
    import type {MyStuffType} from "../../data/exportContent";
    import {tableMaker} from "../utils/tableHelper";
    import type {Guitar} from "../../data/personalList/guitars";
    import type {skinCareType} from "../../data/personalList/skincare";
    import type {eventType} from "../../data/personalList/eventsStory";
    import {EtypeContent, exportTypes} from "../../data/MyStuffTableMapping";

    const setGuitarItems = (cat: Array<Guitar>, body: Element) =>
        setGenericTable(
            body,
            "Guitar",
            exportTypes[EtypeContent.Guitars].header,
            cat.map(exportTypes[EtypeContent.Guitars].mappingFunction),
        );

    const setCosplayItems = (cat: Array<cosplayType>, body: Element) =>
        setGenericTable(
            body,
            "Cosplay",
            exportTypes[EtypeContent.Cosplay].header,
            cat.map(exportTypes[EtypeContent.Cosplay].mappingFunction),
        );

    const setSkinCareItems = (cat: Array<skinCareType>, body: Element) =>
        setGenericTable(
            body,
            "Skin Care",
            exportTypes[EtypeContent.SkinCare].header,
            cat.map(exportTypes[EtypeContent.SkinCare].mappingFunction),
        );

    const setEventItems = (cat: Array<eventType>, body: Element) =>
        setGenericTable(
            body,
            "Event",
            exportTypes[EtypeContent.Events].header,
            cat.map(exportTypes[EtypeContent.Events].mappingFunction),
        );

    function setGenericTable(
        body: Element,
        nameSection: string,
        tableHeader: Array<string>,
        tableContent: (string | Element | undefined)[][],
    ) {
        let subBody: Element = document.createElement("div");
        let sample: Element;

        sample = document.createElement("div");
        sample.textContent = nameSection + ":";
        body.append(sample);

        subBody.append(tableMaker(tableHeader, tableContent));
        body.append(subBody);
    }

    class myStuff extends HTMLElement {
        myStuff!: MyStuffType;
        superLayoutId: EtypeContent = EtypeContent.Cosplay;
        body: Element = Element.prototype;

        setClickSelection(index: number) {
            if (!this.myStuff) {
                return;
            }
            this.body.innerHTML = "";
            this.superLayoutId = index;

            switch (this.superLayoutId) {
                case EtypeContent.Cosplay:
                    setCosplayItems(this.myStuff.cosplay, this.body);
                    break;
                case EtypeContent.SkinCare:
                    setSkinCareItems(this.myStuff.skinCare, this.body);
                    break;
                case EtypeContent.Guitars:
                    setGuitarItems(this.myStuff.guitars, this.body);
                    break;
                case EtypeContent.Events:
                    setEventItems(this.myStuff.events, this.body);
                    break;
                default:
                    break;
            }
        }

        connectedCallback() {
            console.log("It's loading");
            const body = document.getElementById("root");

            if (!body) {
                console.log("No Body");
                return;
            }
            this.body = body;

            const buttons = document.querySelectorAll("a.SuperCat");
            const awesomeListString = this.dataset.personalstuff;
            if (!awesomeListString) {
                console.log("No Awesomelist");
                return;
            }

            this.myStuff = JSON.parse(awesomeListString) as MyStuffType;
            // Handle clicks on each button.
            buttons.forEach((button, index) => {
                button.addEventListener("click", () =>
                    this.setClickSelection(index),
                );
            });
        }
    }

    customElements.define("my-stuff", myStuff);
</script>
